.group-buy-view{
  padding-bottom: 200px;
}
.container{
  display: block;
  width: 92%;
  margin:0 auto;
  &.group-buy{
    padding-top: 30px;
  }
}
.title-input{
  margin: 0px 0px 24px 0px;
  border:1PX solid #e8e8e8;
  padding: 12px 10px;
  border-radius: 6px;
  &::after{
    border-bottom-width: 0px;
  }
}
.des-text{
  border:1PX solid #e8e8e8;
  padding: 6px;

  .at-textarea__textarea{
    height: 300px;
  }
}
.group-img{
  margin: 24px 0px;
}
.at-image-picker__flex-box{
  padding: 0px;
}
.at-image-picker__flex-item {
  margin-left: 0px;
  margin-right: 10px;
  margin-bottom: 6px;
}
.at-image-picker__choose-btn{
  border:1PX solid #e8e8e8;
}
.notice-text{
  display: block;
  font-size: 26px;
  color: #666666;
}
.at-list__item::after{
  border-bottom: 1PX solid #e8e8e8;
}
.addGoods-button{
  display: flex;
  justify-content: space-between;
  padding: 30px 0px;
  .at-button{
    flex: 1;
    margin: 0px 20px;
  }
}
.feedback-box{
  padding: 30px 0px;
  display: flex;
  justify-content: center;
  text{
    margin-right: 20px;
    color: #999999;
    font-size: 28px;
  }
}
.tab-btn-bottom{
  background: #ffffff;
  padding: 20px;
  margin: auto;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  border-top:1PX solid #e8e8e8;
  box-shadow: 0px -8px 10px rgba(50, 50, 50, 0.05);
  .save-group{
    flex: 1;
  }
  .submit-group{
    flex: 2;
    margin-left: 20px;
  }
}
.at-button--primary {
  border: 1PX solid #FFD947;
  background: #FFD947;
  color: #000000;
}
.at-button--secondary {
  border: 1PX solid #333;
  background: #fff;
  color: #333;
}

