page{
  .my-group{
    width: 100%;
    .at-tabs__header{
      background: #FFD947;
      color: #333333;
      justify-content: center;
      position: fixed;
      z-index: 100;
      .at-tabs__item{
        flex: none;
        font-size: 30px;
        width: 18%;
      }
      .at-tabs__item--active{
        color: #000;
      }
    }
    .at-tabs__body{
      padding-top: 90px;
    }
    .at-tabs__item-underline{
      margin: auto;
      right: 0;
      width: 30%;
      height: 6px;
      background-color:#000;
      border-radius: 6px;
    }
    .group-list{
      padding: 24px;
    }
    .group-card{
      margin-bottom: 24px;
      padding: 20px;
      background-color: #ffffff;
      border-radius: 12px;
      .card-header{
        .floor-num{
          font-size: 26px;
          color: #666666;
          padding-bottom: 10px;
          border-bottom: 1px solid #f2f2f2;
        }
        .order-info{
          display: flex;
          justify-content: space-between;
          padding: 16px 0px;
        }
        .organizer-info{
          display: flex;
          align-items: center;
        }
        .organizer-avatar{
          width: 75px;
          height: 75px;
          border-radius: 75px;
        }
        .organizer-name{
          font-size: 30px;
          color: #333333;
          margin-left: 20px;
        }
        .order-status{
          font-size: 26px;
          display: flex;
          align-items: center;
          :first-child{
            margin-right: 20px;
          }
        }
      }
      .card-content{
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #FAFAFA;
        padding: 20px;
        margin-top: 10px;
        border-radius: 12px;
      }
      .good-picture{
         width: 100px;
         height: 100px;
         border-radius: 6px;
      }
      .item-info{
        width: 500px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .title{
          font-size: 28px;
          font-weight: bold;
          margin-bottom: 10px;
        }
        .des{
          display: flex;
          justify-content: space-between;
          align-items: center;
          font-size: 26px;
          color: #666666;
        }
      }
      .tool{
        display: flex;
        justify-content: flex-end;
        font-size: 26px;
        color: #999999;
        margin-top:20px;
        :first-child{
          margin-right: 20px;
        }
      }
      .card-bottom{
        padding-top: 24px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .status{
          font-size: 28px;
          .status-on{
            padding: 10px 24px;
            border-radius: 30px;
            border:1px solid #FF3A29;
            color: #FF3A29;
          }
          .status-off{
            padding: 10px 24px;
            border-radius: 30px;
            border:1px solid #2EB820;
            color: #2EB820;
          }
          .status-none{
            padding: 10px 24px;
            border-radius: 30px;
            border:1px solid #999999;
            color: #999999;
          }
        }

        .card-btn{
          display: flex;
          justify-content: flex-end;
        }
        .at-button.weChat-btn{
          background-image: linear-gradient(#00D20c, #00BC0c);
          color: #ffffff;
          margin-right: 20px;
        }
        .weChat{
          width: 50px;
          height: 50px;
          vertical-align: middle;
          margin-right: 5px;
        }
        .at-button{
          margin: unset;
          border: 1px solid #e8e8e8;
          color: #666;
        }
      }
    }
  }
}
