
.add-good-container{
  padding: 20px;
  .basic-info{
    border-radius: 12px;
  }
  .at-input{
    border-radius: 12px;
    font-size: 30px;
  }
  .info-title{
    display: flex;
    justify-items: center;
    padding: 24px 20px;
    font-size: 30px;
  }
  .at-list__item{
    padding: 24px 32px;
  }
  .textarea-title{
    font-size: 30px;
    padding: 24px 32px 0px 32px;
    color: #333333;
  }
}
.at-button__text{
  .at-icon{
    vertical-align:unset;
  }
}
