page{
    background: #f2f2f2;
}
.bg-white{
    background-color: #ffffff;
}
.mt-20{
    margin-top:20px;
}
.mb-20{
  margin-bottom: 20px;
}
.pb-20{
  padding-bottom: 20px;
}
.pb-30{
  padding-bottom: 30px;
}

//.fixed {
//    bottom: 0;
//    /* 在 H5 模式下将会编译成 margin-bottom: 50px，在小程序模式下则会忽略*/
//    margin-bottom: taro-tabbar-height;
//}
