.pick-up-list{
  margin-top:90px;
  .site-item{
    padding: 20px 24px;
    margin-bottom: 10px;
    .site-name{
      font-size: 30px;
      color: #333333;
    }
    .address{
      font-size: 28px;
      color: #666666;
      padding-top: 10px;
      padding-bottom: 10px;
    }
    .item-bottom{
      display: flex;
      justify-content: space-between;
      font-size: 28px;
      color: #666666;
      .item-flex{
        display: flex;
        align-items: center;
      }
      .at-icon{
        vertical-align: unset;
      }
    }
  }
}
.bottom-btn{
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  bottom: 30px;
  padding: 0px 24px;
}

